@import url('https://fonts.googleapis.com/css2?family=Tangerine&family=Updock&family=Waterfall&display=swap');

body{
    background-size: cover;
    scrollbar-width: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

.header{
    position: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to right, rgb(178, 178, 255), rgb(59, 108, 254), blue, rgb(59, 108, 254), rgb(178, 178, 255));
    width: 100%;
    margin-top: 0;
    color: aliceblue;
    height: 60px;
    padding-left: 200px;
    padding-top: 10px;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}

#instructions{
    float: right;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-right: 60px;
    font-size: 40px;
    color: blue;
    margin-top: 80px;
    transition: color 1s, background-color 1s, transform 1s;
}

#instructions:hover{
    background-color: rgba(218, 15, 56, 0);
    color: aliceblue;
    transform: scale(1.5);
}

.footer{
    position: fixed;
    bottom: 0;
    color:aliceblue;
    background-color: green;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    transition: color 1s, background-color 1s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer:hover{
    color: green;
    background-color: aliceblue;
}

#play_button {
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    font-family: 'Updock', cursive;
    font-size: 40px;
    transition: transform 1s, color 1s, background-color 1s;
    margin-top: 70px;
}

#play_button:hover {
    transform: scale(1.2);
    color: blue;
    background-color: aliceblue;
}

#status {
    background-color: rgb(198, 5, 43);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-family: 'Updock', cursive;
    font-size: 40px;
    transition: color 1s, background-color 1s;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 10px;
}

#status:hover {
    color: crimson;
    background-color: aliceblue;
}

#restart {
    background-color: aliceblue;
    color: blue;
    border: none;
    border-radius: 20px;
    font-family: 'Updock', cursive;
    font-size: 40px;
    transition: transform 1s, color 1s, background-color 1s;
    margin-top: 2px;
    margin-bottom: 55px;
}

#restart:hover {
    transform: scale(1.2);
    color: aliceblue;
    background-color: blue;
}

.instruction_image{
    width:45%;
    display:inline-block;
}

.m_header{
    color: blue;
    font-family: 'tangerine', cursive;
    font-size: 50px;
    transition: color 1s;
}

#close_button{
    float:right;
    border: none;
    color: grey;
    font-family: cursive;
    background-color: rgba(53, 53, 125, 0);
    transition: color 0.5s;
}

#close_button:hover{
    color: black;
}

.body{
    font-family: 'tangerine', cursive;
    color: blue;
    font-size: 50px;
    transition: color 1s;
}

.body:hover{
    color:rgb(198, 5, 43);
}

.m_header:hover{
    color:rgb(198, 5, 43);
}

canvas{

    background-color: aliceblue;
    border-radius:30px;
    animation-name: glow;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

@keyframes glow{

    0%{box-shadow: 0px 0px 30px rgb(255, 255, 255);}
    33%{box-shadow: 0px 0px 30px red}
    66%{box-shadow: 0px 0px 30px yellow}
    100%{box-shadow: 0px 0px 30px rgb(255, 255, 255);}

}